pre {position:relative;}
pre code{display:block}
input[type="checkbox"][switch] {
  position: absolute;
  display: block;
  right:0.5em;
  top:0.5em;
}

pre input[switch]:checked + code { white-space: pre-wrap; overflow-y:auto;margin-right:1em}